body {
    width: max-content;
    margin: auto;
    color: white;
}

.weather-shell {
    width: max-content;
    display: flex;
    flex-direction: row;
}

.weather-shell:last-child {
    margin-right: 0;
}

.weather-shell-item {
    background: #2962a9;
    margin-right: 30px;
    text-align: center;
    padding: 20px 40px;
}