body {
    background: rgb(24,50,109);
    width: max-content;
    margin: auto;
}

.contact-form {
    margin-top: 25px;
    width: 750px;
    background: rgb(43,65,122);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.name-field {
    color: rgb(141,172,254);
    width: 100px;
    display: inline-block;
    text-align: right;
    margin: 0 10px auto 0;
    height: min-content;
}

.contact-form-section {
    margin-bottom: 25px;
    display: flex;
}

.contact-form-submit {
    background: rgb(13,19,33);
    outline: none;
    border: none;
    text-align: center;
    box-shadow: none;
    font-weight: bold;
    padding: 10px;
    margin-left: 110px;
}

.contact-form-input {
    resize: none;
    width: 300px;
    overflow-y: scroll;
    color: white;
}

.contact-form-textarea {
    height: 100px;
}

input, textarea {
    outline: none;
    background: rgb(24,42,80);
    border: none;
    box-shadow: -2px -2px 0 rgb(66,84,117) inset;
}